{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>
    <!-- dish name -->
    <div class="row">
        <form class="col s12" method="POST" action="">
                <div class="row">
                    <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="name" name="name" type="text" class="validate">
                    <label for="name">Dish Name</label>
                </div>
            </div>
        <!-- ingrdients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list prefix light-blue-text text-darken-4"></i>
                    <textarea type="array" id="ingredients" name="ingredients" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
         <!-- method -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix light-blue-text text-darken-4"></i>
                    <textarea id="method" name="method" class="materialize-textarea"></textarea>
                    <label for="method">Method</label>
                </div>
            </div>
        <!-- picture -->
            
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Add a picture</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"> 
                    </div>
                </div>
              
          <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}