{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}

    {{ recipe.name }}
    {{ recipe.ingredient }}
    {% endfor %}
    <!-- Modal Trigger -->
    {% for recipe in recipes %}
    <a class="waves-effect waves-light btn modal-trigger" href="#modal{{loop.index}}">{{ recipe.name }}</a>

        <!-- Modal Structure -->
    <div id="modal{{loop.index}}" class="modal">
        
            <div class="modal-content">
                
                <p></p>
            
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
               <script>
        $(document).ready(function(){
        $('.modal').modal();
        });
    </script>
    </div>      
        {% endfor %}
 
    
            
{% endblock %}



 