{% extends "base.html" %}
{% block content %}
    <!-- Modal Trigger -->
    {% for recipe in recipes %}
    <a class="waves-effect waves-light btn modal-trigger" href="#modal{{loop.index}}">{{ recipe.name }}</a>

        <!-- Modal Structure -->
    <div id="modal{{loop.index}}" class="modal">
        
            <div class="modal-content">
                            
                    <h2>{{ recipe.name }}</h2>
                <div>
                    <div>
                        <ul>
                            <h4>Ingredients</h4>
                            {% for ingredient in recipe.ingredients %}
                            <li id="recipe{{loop.index}}">{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div>        
                    <ol>
                        <h4>Method</h4>
                        {% for method in recipe.method %}
                        <li id="method{{loop.index}}">{{ method }}</li>
                        {% endfor %}
                    </ol>
                </div>            
            
            </div>
            <div class="modal-footer">
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a href="" class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
            </div>
    </div>      
        {% endfor %}
 
      
{% endblock %}



 